<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../assets/css/styles.css" >
    </head>
        <header>
            <h1 style="padding-top: 1rem;"><i><q>There's no Place Like Home</q></i></h1>
            <nav am-layout="horizontal">
              <a href="index.html" class="nav-element">Home</a>
              <a href="gallery.html" class="nav-element">Gallery</a>
              <a href="events.html" class="nav-element">Events</a>
            </nav>
          </header>
</html>


